:root {
  --light-beige: #0B0803;
  --med-beige: #F6DCBA;
  /* rgba(234, 226, 202, 0.8) for diff opacity */
  --darker-beige: #D6C8AB;
  --dark-green: #595214;
  --text-color: #F6DCBA;
  --button-color: #AD8250;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Optima;
  background-color: #0B0803;
  color: var(--text-color);
  text-align: center;
  padding-bottom: 240px;
}

.listen-container {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.listen-icon {
  width: 25px;
}

.listen-button {
  display: flex;
  flex: 1;
  background-color: var(--button-color);
  font-size: 16px;
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 6px rgba(188, 39, 39, 0.733);
  transition: transform 0.3s ease;
}

.listen-button:hover {
  transform: scale(1.05);
}

.bold-paragraph {
  font-weight: bold;
}

.cover {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.cover:hover {
  box-shadow: 4px 3px 15px rgba(188, 39, 39, 0.733);
}

.stm-pic {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 4px 3px 15px rgba(1, 1, 1, 0.6);
  border-radius: 2%;
}

picture {
  display: flex;
}

@media (min-width: 600px) {
  .release-cover {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .release-cover {
    max-width: 1200px;
  }

  body {
    padding-bottom: 150px;
  }
}

#mc_embed_signup {
  background: var(--light-beige);
  font: 14px;
  width: 250px;
}

#mc_embed_signup input#mc-embedded-subscribe {
  background-color: var(--button-color);
  font-size: 14px;
}

#mc_embed_signup input#mc-embedded-subscribe:hover {
  background-color: var(--dark-green);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 22px;
  /* was 20 before */
  padding: 20px;
  flex-wrap: wrap;
}

.social-icon {
  width: 24px;
  height: auto;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

.follow-container {
  display: flex;
  gap: 25px;
  align-items: center;
}

.follow-icon {
  width: 25px;
  height: auto;
  display: flex;
  flex: 1;
  background-color: var(--button-color);
  font-size: 16px;
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 2px 2px 6px rgba(188, 39, 39, 0.733);
  margin-bottom: 20px;
}

.follow-icon:hover {
  transform: scale(1.05);
}

.short-line {
  width: 200px;
  border-top: 1.5px solid #868634;
  margin-top: 20px;
  margin-bottom: 40px;
}

.short-line-stm {
  /* forgive me my css sins */
  width: 200px;
  border-top: 1.5px solid var(--darker-beige);
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-text {
  padding: 0 0 15px;
  margin-bottom: 30px;
  width: 100%;
  /* font-family: 'Times New Roman', Times, serif; */
  font-weight: bold;
  font-size: 0.9rem;
}

a:link,
a:visited {
  color: #868634 !important;
}
